name: Check required labels

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches: ["**"]

jobs:
  check-labels:
    name: Check PR labels
    permissions:
      pull-requests: write
    uses: sashacmc/ci/.github/workflows/check-labels.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
