name: Check required labels

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
    branches: ["**"]

permissions:
  pull-requests: write
  checks: write

jobs:
  check-labels:
    name: Check PR labels
    uses: sashacmc/ci/.github/workflows/check-labels.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  checklist-verification:
    name: Check PR checklists
    uses: sashacmc/ci/.github/workflows/checklist-verification.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
