name: Check required labels

on:
  pull_request_target:
    types: [opened, reopened, labeled, unlabeled]
    branches: ["**"]

jobs:
  check-labels:
    name: Check PR labels
    uses: sashacmc/ci/.github/workflows/check-labels.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write

  checklist-verification:
    name: Check PR checklists 
    uses: sashacmc/ci/.github/workflows/checklist-verification.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
