name: Check required labels

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches: ["**"]

jobs:
  check-labels:
    name: Check PR labels
    permissions:
      pull-requests: write
      checks: write
    uses: sashacmc/ci/.github/workflows/check-labels.yml@main
    secrets: inherit

  checklist-verification:
    name: Check PR checklists
    permissions:
      pull-requests: write
    uses: sashacmc/ci/.github/workflows/checklist-verification.yml@main
    secrets: inherit
