#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  CARGO_PROFILE_DEV_DEBUG: false
  RUSTUP_WINDOWS_PATH_ADD_BIN: 1
  # NOTE(fuzzypixelz): This should be changed to "minor" during a release cycle
  # with plans for changes that REQUIRE a minor version bump as defined by the Cargo reference
  # (https://doc.rust-lang.org/cargo/reference/semver.html).
  # However, a minor release could be published without such changes, in which case this variable need not be changed.
  CARGO_SEMVER_CHECKS_RELEASE_TYPE: patch
  # NOTE(fuzzypixelz): cargo-semver-checks uses the previous released version as a baseline, not the latest released
  # version on crates.io. Thus this needs to be updated after every release.
  CARGO_SEMVER_CHECKS_BASELINE_VERSION: 1.3.0

jobs:
  determine-runner:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set-runner.outputs.runner }}
    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Determine which runner to use
        id: set-runner
        run: |
          if [[ -f ci/runners.json ]]; then
            echo "runner=$(cat ci/runners.json)" >> $GITHUB_OUTPUT
          else
            echo "runner=['ubuntu-latest', 'windows-latest', 'macos-latest']" >> $GITHUB_OUTPUT
          fi

  check_rust:
    needs: determine-runner
    name: Check zenoh using Rust 1.75
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.determine-runner.outputs.runner) }}

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Update Rust 1.75.0 toolchain
        run: rustup update 1.75.0

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false

      - name: Check zenoh with rust 1.75.0
        run: cargo +1.75.0 check --release --bins --lib

  # Test without Cargo.lock to ensure that all restrictions are correctly set in Cargo.toml for build with rust 1.75.0
  check_rust_without_cargo_lock:
    needs: determine-runner
    name: Check zenoh build without Cargo.lock on Rust 1.75
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Update Rust 1.75.0 toolchain
        run: rustup update 1.75.0

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false

      - name: Check zenoh without Cargo.lock
        run: |
          rm Cargo.lock || true
          cargo +1.75.0 check --bins --lib


  # NOTE: In GitHub repository settings, the "Require status checks to pass
  # before merging" branch protection rule ensures that commits are only merged
  # from branches where specific status checks have passed. These checks are
  # specified manually as a list of workflow job names. Thus we use this extra
  # job to signal whether all CI checks have passed.
  ci:
    name: CI status checks
    runs-on: ubuntu-latest
    needs: [check_rust]
    if: always()
    steps:
      - name: Check whether all jobs pass
        run: echo '${{ toJson(needs) }}' | jq -e 'all(.result == "success")'
